doctype html
html
  head
    title ExpressDelivery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab', rel='stylesheet', type='text/css')
    style.
      .custom_button {
      background-color: #474e5d;
      color: white;
      /*padding: 5px;*/
      /*margin: 2px 0px;*/
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      }
      input[type=text], input[type=password] {
      width: 50%;
      /*padding: 15px;*/
      /*margin: 2px 0 10px 0;*/
      display: inline-block;
      border: none;
      background: #f1f1f1;
      min-width: 100%;
      max-width: 100%;
      }
      /* Add a background color when the inputs get focus */
      input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
      /*min-width: 100%;*/
      /*max-width: 100%;*/
      }
      hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 10px;
      }
      .clearfix::after {
      content: "";
      clear: both;
      display: table;
      }
      .our-form{
      max-width: 50%;
      margin-left: 2%;
      padding: 7px;
      }
  body
    .row
      img(src='../images/bg5.jpg', style='width:100%;height:100px;')
    .row
      // <img src= "../images/bg.png" style="width:100%;height:100%;">
      .col-md-3
        // <div class="row" style="display: none;" id = "hello">
        img#hello(src='../images/hello.jpg', style='width:80%;height:80%;\
        position: relative; display: none; margin-left: 20%;margin-top: 20%;')
        // </div>
        // <div class="row">
        img#caterpillar(src='../images/caterpillar.jpg', style='width:80%;height:50%; position: relative')
        // </div>
      .col-md-6.our-form.modal-content
        h3 Student Signup Form
        form(action='/SignupStudent', method='POST')
          // <div class="row">
          label(for='name')
            b Name
          input(type='text', placeholder='Enter Name', name='name', required='')
          label(for='username')
            b Username
          input(type='text', placeholder='Enter Username', name='username', required='')
          label(for='quaification')
            b Highest Qualification
          input(type='text', placeholder='Enter Highest Education', name='qualification', required='')
          label(for='interest')
            b Interest
          input(type='text', placeholder='Enter your Interest', name='interest', required='')
          label(for='competency')
            b Competency
          input(type='text', placeholder='Rate yourself between 1-10', name='competency', required='')
          label(for='ambition')
            b Aims and Aspiration
          input(type='text', placeholder='Enter your Aims and Aspiration', name='ambition', required='')
          label(for='psw')
            b Password
          input(type='password', placeholder='Enter Password', name='psw', required='')
          label(for='psw-repeat')
            b Repeat Password
          input(type='password', placeholder='Repeat Password', name='psw-repeat', required='')
          label
            input(type='checkbox', checked='checked', name='remember', style='margin-bottom:15px;')
            |  Remember me
          p
            | By creating an account you agree to our 
            a(href='#', style='color:dodgerblue;') Terms & Privacy
            | .
          // <div class="clearfix">
          // <button class="cancelbtn" type="button" onclick="document.getElementById('id01').style.display='none'">
          // Cancel</button><button class="signupbtn" type="submit">Sign Up</button></div>
          input.custom_button(type='submit', value='Submit')
          // </div>
      .col-md-2(style='width:80px;height:40px;')
        // <div class="row" style="display: none;" id = "hello">
        img(src='../images/vines.png')
    script.
      $(document).ready(function() {
      (function () {
      var elem = document.getElementById("caterpillar");
      var pos_left = 0;
      var pos_top = 0;
      var id = setInterval(frame, 10);
      function frame() {
      if (pos_left == 150) {
      pos_top++;
      elem.style.top = pos_top + "px";
      if (pos_top == 350){
      elem.style.position = "static";
      document.getElementById("hello").style.display = "block";
      clearInterval(id);
      }
      } else {
      pos_left++;
      elem.style.left = pos_left + "px";
      }
      }})();
      });
